body {
  background-color: white;
  list-style: none;
}

a {
  font-weight: bold;
  letter-spacing: 0.5px;
}

ul {
  list-style-type: none;
  margin: none;
  margin-right: 2rem;
}

button {
  border-radius: 0px !important;
  font-weight: bold !important;
  letter-spacing: 0.5px;
}

img {
  border-radius: 0px !important;
}

.jumbotron {
  background-color: #019901;
  color: white;
  border-radius: 0px;
  margin-top: 55px;
}

footer {
  background-color: #019901;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
footer li {
  display: block;
  margin-bottom: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 1rem 1rem 1rem 1rem;
  padding-bottom: 3px;
}
footer a:hover {
  text-decoration: none;
  /* font-size: 1.2em; */
  color: #555;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #555;
  transition: all 300ms;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  border-radius: 0px;
  box-shadow: 2px 2px 8px #ccc;
  /* padding: 2px 5px 2px 5px; */
  /* height: 100%; */
  /* max-width: 300px; */
}

#columna-calidad {
  min-width: 122px;
}

#carousel-1 {
  max-height: 250px;
}

#tarjetas ul {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  font-weight: bold;
  font-size: 1.2em;
}

#myTabContent {
  margin-top: 10px;
}

#promociones {
  height: 80px;
  font-size: 2.5em;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: all 400ms ease;
}
#promociones:hover {
  height: 120px;
  font-size: 3.5em;
}

#logo {
  text-shadow: 1px 1px 8px slategray;
  transition: all 300ms;
  animation-name: fromBellow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fromBellow {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-20%);
  }
  75% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=styles.css.map */
